*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.container{
   max-width: 1080px;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
}

header{
    background-color: black;
    width: 100%;
    padding: 15px;
    padding-left: 80px;
 }

 .logo,.btn-menu{
    width: 25%;
    
 }

 .logo img{
    width: 200px;
    cursor: pointer;
 }

 .menu{
    width: 50%;
 }

 .menu nav a{
    color: white;
    text-decoration: none;
    padding-right: 70px;
    font-size: 18px;
    position: relative;
 }

 .menu nav a::after{
   content: "  ";
   width: 0px;
   height: 4px;
   background-image: linear-gradient(45deg, #ff2500, #ff7100 );
   position: absolute;
   top: 30px;
   left: 0%;
   transition: width 0.5s;

 }

 .menu nav a:hover::after{
    width: 30px;
 }



 .btn-menu button{
    width: 70px;
    height: 50px;
    background-image: linear-gradient(45deg, #ff2500, #ff7100 );
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 30px;
 }

 .btn-menu button i{
    font-size: 20px;
    color: white;

 }


.btn-menu button  a{
   font-size: 10px;
   color: white;
   padding-top: 10px;
   text-decoration: none;

}

/* a partir daqui formatação da página*/

main{
    width: 100%;
    height: 160vh;
    background-image: linear-gradient(45deg,black,grey);
    display: flex;
}
form{
    width: 80%;
    height: 120vh;
    background-color: rgba(255, 113, 0,0.6);
    border: 3px solid #ff2500;
    border-radius: 15px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#titulo{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-top: 10px;
}
#subtitulo{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    font-size: 35px;
    margin-left: 50px;
}
.form{
    margin-top: 15px;
    margin-left: 50px;
    width: 500px;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0,0.3);
    border-radius: 10px;
    padding: 5px;


}
.form label{
    margin-bottom: 5px;
    font-size: 15px;
}
form > div:last-of-type{
    background-image: linear-gradient(45deg, #ff2500, #ff7100 );
}
.form button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    padding: 10px;
}
.form button:hover{
    cursor: pointer;
}
.input{
    margin-bottom: 10px;
}
.preview{
    width: 300px;
    height: 500px;
    background-color:aliceblue;
    position: absolute;
    top: 35%;
    left: 60%;
}
.preview img{
    width: 300px;
    height: 300px;
}

/* formatação do footer*/

footer {
    width: 100%;
    color: white;
  }
  
  /* Conteúdo principal */
  #conteudo-rodape {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
  }
  
  /* Contatos e redes sociais */
  #contatos-rodape img {
    margin-bottom: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-left: -38px;
  }
  
  #redes-sociais-rodape {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
  }
  
  #redes-sociais-rodape .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: white;
    border-radius: 50%;
    transition: all 0.4s;
    text-decoration: none;
  }
  
  #redes-sociais-rodape .footer-link i {
    font-size: 1.25rem;
  }
  
  #redes-sociais-rodape .footer-link:hover {
    opacity: 0.8;
  }
  
  #instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
  }
  
  #facebook {
    background-color: #4267b3;
  }
  
  #whatsapp {
    background-color: #25d366;
  }
  
  /* Listas */
  .lista-rodape {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
  }
  
  .lista-rodape h3 {
    margin-left: 50px;
  }
  
  .lista-rodape p {
    margin-left: 50px;
  }
  
  /* Suporte */
  #suporte-rodape {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  #email-suporte {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  #email-suporte a {
    background-color: #f3b86c;
    border-radius: 50%;
    cursor: pointer;
    padding: 8px;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #email-suporte i {
    font-size: 1.25rem;
  }
  
  #email-suporte h1 {
    font-size: 16px;
    margin: 0;
    font-weight: normal;
  }
  
  /* Direitos autorais */
  #direitos-autorais-rodape {
    background-color: black;
    color: white;
    font-size: 0.9rem;
    text-align: center;
    padding: 1.5rem;
  }

  @media screen and (max-width: 768px) {
    #conteudo-rodape {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }
  
  @media screen and (max-width: 426px) {
    #conteudo-rodape {
      grid-template-columns: repeat(1, 1fr);
      gap: 3rem 2rem;
    }
  }